<a href="https://colab.research.google.com/github/PabloDiosquez/Laboratorio_de_Datos_UBA/blob/main/Clase_2%2C_primera_parte_tipos_de_datos_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En la primera parte de la clase 2 veremos algunos tipos de datos básicos de Python. **Esta Notebook no presenta una introducción exhaustiva, para eso recomendamos leer los tutoriales en el campus virtual de la materia.**

# **Números y strings**

En primer lugar, Python puede manejar enteros en distintas bases, números con coma flotante y números complejos.

In [ ]:
a = 8      
b = 8.0     
c = 1.4e80 
d = 0b100   
e = 43.2 + 3j

Podemos verificar el tipo de datos usando type()

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'complex'>

Por supuesto, hay límites al tamaño de las variables que se pueden guardar en memoria.

En el caso de números con coma flotante, el número más grande posible (en módulo) es cercano a $1.8 \times 10^{308}$, mientras que el número con coma flotante positivo más pequelo es $5 \times 10^{-324}$.

Todo lo que está por arriba de $1.8 \times 10^{308}$ es infinito y todo lo que está por debajo de $5 \times 10^{-324}$ es 0.

In [ ]:
print(1.8e308*10)
print(5e-324/10)

inf
0.0

Otro tipo de dato común son los strings (str).

In [ ]:
a = "hola mundo"
b = 'mucho gusto'
print(type(a))
print(type(b))
print(a)
print(b)

<class 'str'>
<class 'str'>
hola mundo
mucho gusto

Los strings se pueden delimitar con comillas simples o dobles.
Esto es útil si quiero incluir comillas simples en el string (encierro con dobles) o si quiero incluir comillas dobles (encierro con simples)

In [ ]:
a = "Una comilla simple ' en mi string"
b = 'Una comilla doble " en mi string'
print(a)
print(b)

Una comilla simple ' en mi string
Una comilla doble " en mi string

Pueden verificar que esto no funciona si encierro con el mismo tipo de comillas que usé dentro del string. Esto puede hacerse también usando \\' y \\" en lugar de ' y ". La barra delante de un caracter se denomina secuencia de escape y hace que ese caracter reciba un tratamiento especial.

Hay varios ejemplos, tales como \\n para una nueva linea, \\t para una tabulación, o \\\ si quiero que aparezca una sola barra invertida.

In [ ]:
print("hola\nmundo")
print("hola\tmundo")
print("hola\\mundo")

hola
mundo
hola	mundo
hola\mundo

Puede que en alguna aplicación no nos interese el uso de la barra invertida para señalizar secuencias de escape. En ese caso podemos agregar una r delante del string para ignorar sistemáticamente todas ellas.

In [ ]:
print(r'hola\nmundo')

hola\nmundo

Por último, es posible encerrar strings en triple comillas de forma tal que se reproducen todas las barras invertidas y además no es necesario usar secuencia de escape para empezar nuevas lineas:

In [ ]:
frase = """hola
mundo
\que tal?"""
print(frase)

hola
mundo
\que tal?

Por último, hay un tipo de datos que se utiliza para codificar variables booleanas y tiene dos valores posibles True (verdadero) y False (falso). Podemos operar con estas variables usando operados booleanos como and y or

In [ ]:
print(True or False)
print(True and False)

True
False

El resultado de evaluar una proposición es una variable booleana

In [ ]:
print(3==3)
print(3>2 or 2>3)
print(2!=0 and 5<0)

True
True
False

# **Listas**

Las listas son una colección ordenada de elementos de distinto tipo, indexada desde 0 hasta n-1, donde n es la cantidad de elementos de la lista. La cantidad de elementos de la lista puede obtenerse usando la función len()

In [ ]:
a = [1, 1.2, [3], True, 'hola', 3+3j]
print(len(a))
print(a[0])
print(a[len(a)-1])

6
1
(3+3j)

Notamos que las listas también pueden tener a otras listas como elementos (es el caso del elemento en la posición 2 de la lista de arriba).

Es posible seleccionar slices de listas usando una notación del estilo i:j, lo cual da una lista con los elementos desde la posición i a la j-1 (empezando desde 0).

In [ ]:
print(a[2:5])

[[3], True, 'hola']

Hay otras formas más sofisticadas de hacer slices (por ejemplo, con números negativos) pero no lo necesitamos todavía. 

En Python, todo loop for se itera sobre una lista.

In [ ]:
for item in a:
  print(item)

1
1.2
[3]
True
hola
(3+3j)

Si queremos iterar entre los números i, j-1 podemos usar la función range(), que genera una lista de enteros entre esos valores.

In [ ]:
for n in range(4,10):
  print(n)

4
5
6
7
8
9

Hay muchas operaciones que podemos hacer con listas, como por ejemplo concatenarlas con el operador suma. Además, podemos trabajar con strings como si fuesen listas.

In [ ]:
a = [1,2,3]
b = ['a', 'b', 'c']
print(a+b)
a = 'supercalifragilistico'
print(a[4:10])
print(a+ ' abracadabra')

[1, 2, 3, 'a', 'b', 'c']
rcalif
supercalifragilistico abracadabra

Una lista de Python es (como todo) un objeto y posee métodos. 
Los métodos son funciones específicas que solo se pueden aplicar a ese objeto. 
Tres ejemplos son revertir la lista con lista.reverse(), agregar un elemento o una lista al final con lista.append(), y remover un elemento de una posición determinada con lista.pop().

Es importante notar que aplicar los métodos no devuelven la lista modificada: únicamente la modifican en memoria, sin devolver nada. Por ejemplo:

In [ ]:
a = [1, 1.2, [3], True, 'hola', 3+3j]
a.reverse()
print(a)

[(3+3j), 'hola', True, [3], 1.2, 1]

Pero si hago:

In [ ]:
a = [1, 1.2, [3], True, 'hola', 3+3j]
print(a.reverse())

None

A pesar de que no devuelve nada, en la segunda linea del código aplicamos el método reverse, así que ahora la lista a está invertida:

In [ ]:
print(a)

[(3+3j), 'hola', True, [3], 1.2, 1]

# **Diccionarios**

El último tipo de dato natural a Python que vamos a repasar son los diccionarios.

Un diccionario consta de llaves, valores y un mapeo entre ambos que le asigna un valor a cada llave:

![dict.png]()

In [ ]:
a = {'llave1':'hola', 'llave2':[True,False,3.5], 39:'hola mundo', 49.324:12}
print(a['llave1'])
print(a['llave2'])
print(a[39])
print(a[49.324])

hola
[True, False, 3.5]
hola mundo
12

Vemos que podemos usar el tipo de datos que queramos como llaves (aunque no listas) El problema surge cuando hay más de una llave con el mismo valor, porque en ese caso no sabemos a que valor hacemos referencia:

In [ ]:
a = {'llave1':'hola', 'llave1':[True,False,3.5], 39:'hola mundo', 49.324:12}
print(a['llave1'])

[True, False, 3.5]

Vemos que obtenemos el último de los elementos con esa llave.
Si queremos saber cuales son todas las llaves de un diccionario podemos usar el método dict.keys()

In [ ]:
llaves = a.keys()
print(llaves)

dict_keys(['llave1', 39, 49.324])

Que podemos convertir a una lista con la funcion list()

In [ ]:
print(list(llaves))

['llave1', 39, 49.324]